body {
    font-size: 23px;
    font-family: Arial;
    background-color: #71B8B4;
}

.basic{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 15px solid #F39C11;
    padding: 20px;
    background-color: #FFFCC6;
    color: #542A00;
}

.basic_input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.input-field{
    background-color: transparent;
    padding-bottom: 2px;
    color: #666666;
    line-height: -5px;
    border: 4px solid #542A00;
    border-radius: 4px;
    padding: 5px;
    width: 450px;
    color: #542A00;
}
